section.form
    .container
        .form__inner
            .form__content
                .form__title-box.title-box
                    .form-title.title-box__title Получить Консультацию
                    .form-text.title-box__text Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во всех судебных инстанциях.
                .form__box
                    form
                        .form__box-inner
                            .form__box-left
                                label E-mail
                                    input(type="text")
                                label Контактный телефон
                                    input(type="text")
                                label ФИО
                                    input(type="text")
                                label Тема вопроса
                                    select
                                        option ---------
                                        option ---------
                                        option ---------
                                        option ---------
                            .form__box-right
                                label Сообщение
                                    textarea
                                button.default-btn(type="submit") Получить консультацию
