header.header
    .header__top
        .container
            .header__contacts
                a.header__phone(href="tel:380963092145") +38 (096) 309 21 45
                a.header__email(href="#") layout585@gmail.com
                a.header__btn(data-fancybox data-src="#modal" href="javascript:;") Бесплатная консультация
    .header__content
        .container
            .header__content-inner
                .header__logo
                    a(href="#")
                        img(src="static/images/content/logo.png" alt="")
                nav.menu
                    .header__btn-menu
                        span.icon-bars
                    ul
                        li: a(href="#") Главная
                        li: a(href="#") О компании
                        li: a(href="#") Услуги
                        li: a(href="#") Контакты


