@media (max-width: 1156px) {

  .services__items{
    display: block;
  }
  .services__item{
    max-width: 80%;
    width: 80%;
    min-height: 330px;
    margin: 30px auto;
    & .services__item-text{
      margin-bottom: 0;
    }
    & .services__item-btn{
      justify-content: center;
      & a{
        margin: 0 30px;
      }
    }
  }
}

@media (max-width: 900px) {
  .services__top{
    display: block;
  }
  //.services__title-box{
  .title-box{
    padding-left: 0;
    text-align: center;
    margin: 0 auto 30px;

    &:before{
      display: none;
    }
  }

  .services__btn{
    text-align: center;
  }

}
@media (max-width: 600px) {
  .services__item{
    max-width: 100%;
    width: 100%;
    min-height: 375px;
    margin: 30px auto;

    & .services__item-text{
      margin-bottom: 30px;
    }

  }
}