section.advantages
    .container
        .advantages__inner
            .advantages__item
                .advantages__title Десятки добровольных ликвидаций ежемесячно
                .advantages__text Мы умеем минимизировать все риски в процессе добровольной ликвидации юридических лиц.
            .advantages__item
                .advantages__title Отличное знание законов в сфере банкротства
                .advantages__text Позволяют нам эффективно отстаивать как интересы кредиторов, так и интересы собственников проблемной организации.
            .advantages__item
                .advantages__title Большой опыт сопровождения банкротства
                .advantages__text Мы обладаем большим опытом сопровождения процедур банкротства предприятий.
