
@media (max-width: 1055px) {
  .footer__inner {
    display: block;
  }
  .footer__map{
    max-width: 100%;
  }

  .footer__info {
    max-width: 500px;
    margin: 0 auto 30px;
    //text-align: center;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .footer__title{
      text-align: center;
      margin-bottom: 10px;
    }

    & .footer__text{
      text-align: center;
    }
  }
}
@media (max-width: 1055px) {
  .footer__inner .header__btn:before{
    display: block;
  }
}


//footer {
//  flex: 0 0 auto;
//}
//
//
//.footer__content {
//  background-color: #595959;
//  padding: 20px 0 30px;
//}
//
//.footer__inner {
//  display: flex;
//  justify-content: space-between;
//}
//
//.footer__inner .header__btn {
//  float: none;
//  display: inline-block;
//}
//
//.footer__info {
//  max-width: 360px;
//}
//
//.footer__title {
//  font-size: 16px;
//  line-height: 36px;
//  font-weight: 500;
//  font-family: 'Roboto', sans-serif;
//  color: #ffffff;
//  letter-spacing: .5px;
//}
//
//.footer__text {
//  color: #d3d2d2;
//  margin-bottom: 20px;
//}
//
//.footer__list {
//  padding-top: 10px;
//}
//
//.footer__list li {
//  margin-top: 10px;
//}
//
//.footer__list {
//  a {
//    font-size: 16px;
//    line-height: 24px;
//    letter-spacing: .25px;
//    color: #ffffff;
//    font-weight: 400;
//    font-family: 'Roboto', sans-serif;
//    padding-left: 33px;
//    position: relative;
//
//    &:before {
//      content: '\f003';
//      font-family: 'icomoon';
//      font-size: 16px;
//      line-height: 24px;
//      position: absolute;
//      left: 0;
//      color: #ffc222;
//    }
//
//    &.footer__phone:before {
//      content: '\f095';
//      left: 3px;
//    }
//
//    &.footer__adress:before {
//      content: '\f041';
//      left: 3px;
//    }
//
//  }
//
//}
//
//
//.footer__map {
//  padding-top: 10px;
//  max-width: 630px;
//}
//
////.footer__map iframe{
////
////  width: 100%;
////  height: 250px;
////}
//
//.footer__copy {
//  background-color: #303030;
//  text-align: center;
//  padding: 15px 0;
//  font-family: 'Roboto', sans-serif;
//  color: #ffffff;
//  font-size: 12px;
//  line-height: 24px;
//  font-weight: 400;
//  letter-spacing: .6px;
//  padding: 8px 0;
//}