section.about
    .container
        .about__top
            .about__title-box
                .about-title Наши услуги
                .about-text Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во всех судебных инстанциях.
            .about__btn
                a.default-btn-second(href="#") Показать все услуги
        .about__items
            .about__item
                .about__item-img
                    img(src="static/images/content/about/about-1.png" alt="")
                .about__item-title Банкротство и ликвидация
                .about__item-text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности
                .about__item-btn
                    a.about__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать
            .about__item
                .about__item-img
                    img(src="static/images/content/about/about-2.png" alt="")
                .about__item-title Адвокатское сопровождение
                .about__item-text Мы гарантируем полное профессиональное обслуживание клиентов в заявленных сферах деятельности и соблюдение конфиденциальности.
                .about__item-btn
                    a.about__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать
            .about__item
                .about__item-img
                    img(src="static/images/content/about/about-3.png" alt="")
                .about__item-title Налоговый аудит
                .about__item-text Налоговый аудит проводят перед проведением налоговых проверок; при оценке возможных налоговых рисков; при оптимизации налогообложения.
                .about__item-btn
                    a.about__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать

