section.about
    .container
        .about-inner
            .about__title О компании
            .about__text Компания специализируется на оказании услуг в сфере корпоративного права, налогового консалтинга, представительства в судах, ликвидации и банкротства предприятий. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права.
            a.about__btn.default-btn(href="#") Узнать больше