section.services
    .container
        .services__top
            .services__title-box.title-box
                .services-title.title-box__title Наши услуги
                .services-text.title-box__text Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во всех судебных инстанциях.
            .services__btn
                a.default-btn-second(href="#") Показать все услуги
        .services__items
            .services__item
                .services__item-img
                    img(src="static/images/content/services/services-1.png" alt="")
                .services__item-title Банкротство и ликвидация
                .services__item-text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать
            .services__item
                .services__item-img
                    img(src="static/images/content/services/services-2.png" alt="")
                .services__item-title Адвокатское сопровождение
                .services__item-text Мы гарантируем полное профессиональное обслуживание клиентов в заявленных сферах деятельности и соблюдение конфиденциальности.
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать
            .services__item
                .services__item-img
                    img(src="static/images/content/services/services-3.png" alt="")
                .services__item-title Налоговый аудит
                .services__item-text Налоговый аудит проводят перед проведением налоговых проверок; при оценке возможных налоговых рисков; при оптимизации налогообложения.
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.default-btn(href="#") Заказать

