#modal {
  width: 300px;
}
#modal input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  &[type="submit"]{
    background-color: #ffc222;
    border: none;
  }
}
