.slider{
  background-image: url("../images/content/slider-fon.jpg");  // установка изображения
  background-repeat: no-repeat; // не повторять изображение
  background-size: cover; // чтобы изображение растягивалось
  position: center; //располагаем изображение по центру
  min-height: 500px; // нужно обязательно указывать
}