@media (max-width: 900px) {
  .slider .slick-btn{
    display: none !important;
  }

}

@media (max-width: 414px) {
  .slider__title{
    font-size: 24px;
  }
  .slider__text{
    font-size: 16px;
  }
}

