section.slider
    .container
        .slider__inner
            .slider__item
                .slider__item-content
                    .slider__title КОМПЛЕКСНОЕ ЗАКРЫТИЕ ПРЕДПРИЯТИЯ
                    .slider__text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
                    a.slider__btn.default-btn(href="#") Оставить заявку
            .slider__item
                .slider__item-content
                    .slider__title КОМПЛЕКСНОЕ ЗАКРЫТИЕ ПРЕДПРИЯТИЯ
                    .slider__text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
                    a.slider__btn.default-btn(href="#") Оставить заявку
            .slider__item
                .slider__item-content
                    .slider__title КОМПЛЕКСНОЕ ЗАКРЫТИЕ ПРЕДПРИЯТИЯ
                    .slider__text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
                    a.slider__btn.default-btn(href="#") Оставить заявку
