section.slider
    .container
        .slider__inner
            .slider__item
                .slider__title КОМПЛЕКСНОЕ ЗАКРЫТИЕ ПРЕДПРИЯТИЯ
                .slider__text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
                .slider__btn Оставить заявку
