.about {
  background-image: url("../images/content/about/about-fon.jpg");
  background-repeat: no-repeat; // не повторять изображение
  background-size: cover; // чтобы изображение растягивалось
  background-position: center; //располагаем изображение по центру
  min-height: 300px; // нужно обязательно указывать

}

.about-inner {
  padding: 25px 0 45px;
  max-width: 545px;
}

.about__title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 10px 0 25px;
}

.about__text{
  font-family: 'PT Serif', serif;
  font-size: 14px;
  line-height: 24px;
  color: #d3d2d2;
  font-weight: 400;
  letter-spacing: .14px;
  margin-bottom: 30px;
}
.about__btn.default-btn:after{
  color: #000000;
}
