.advantages{
  padding: 55px 0 40px;
  background-image: url("../images/content/advantages/adv-fon.jpg"); // установка изображения
  background-repeat: no-repeat; // не повторять изображение
  background-size: cover; // чтобы изображение растягивалось
  background-position: center; //располагаем изображение по центру
  min-height: 285px; // нужно обязательно указывать
}

.advantages__inner{
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages__item{
  max-width: 360px;
  padding: 0 20px;
}

.advantages__title{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 60px 0px 15px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after{
    content: "\f00c";
    font-family: 'icomoon';
    position: absolute;
    font-size: 14px;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__text{
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: .14px;
  max-width: 360px;
  width: 100%;
}
