@media (max-width: 900px) {
  .advantages__inner {
    display: block;
  }
  .advantages__item {
    max-width: 100%;
    margin-bottom: 40px;
    //padding: 0 20px;
  }
  .advantages__text {
    max-width: 100%;
    //line-height: 24px;
    //color: #d3d2d2;
    //letter-spacing: .14px;
    //max-width: 360px;
    //width: 100%;
  }

}

@media (max-width: 425px) {
  .advantages__item {
    max-width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }

}
