section.news
    .container
        .news__top
            .news__title-box.title-box
                .news-title.title-box__title Новости Компании
                .news-text.title-box__text Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во всех судебных инстанциях.
            .news__btn
                a.default-btn-second(href="#") Открыть все новости
        .news__inner
            .news__slider
                .news__slider-inner
                    .news__slider-item
                        .news__slider-title Банкротство и ликвидация предприятия в Украине
                        .news__slider-text «На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права...»
                        .news__slider-author Андрей Ворошилов, генеральный директор компании Bankom
                    .news__slider-item
                        .news__slider-title Банкротство и ликвидация предприятия в Украине
                        .news__slider-text «На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права...»
                        .news__slider-author Андрей Ворошилов, генеральный директор компании Bankom
                    .news__slider-item
                        .news__slider-title Банкротство и ликвидация предприятия в Украине
                        .news__slider-text «На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права...»
                        .news__slider-author Андрей Ворошилов, генеральный директор компании Bankom
            a.news__blog(href="#")
                .news__images
                    img(src="static/images/content/news/news-1.jpg")
                    .news__date 03.04
                .news__blog-title Новость компании
                .news__blog-text На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права...»
            a.news__blog(href="#")
                .news__images
                    img(src="static/images/content/news/news-2.jpg")
                    .news__date 03.04
                .news__blog-title Новость компании
                .news__blog-text На сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права...»
