footer.footer
    .footer__content
        .container
            .footer__inner
                .footer__info
                    .footer__title Комплексное закрытие предприятия
                    .footer__text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
                    a.header__btn(data-fancybox data-src="#modal" href="javascript:;") Бесплатная консультация
                    ul.footer__list
                        li: a.footer__phone(href="tel:380963092145") +38 (096) 309 21 45
                        li: a(href="#") layout585@gmail.com
                        li: a.footer__adress(href="#") Киев, ул.Пушиной, 13
                .footer__map.
                    <iframe height="250px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.124391996489!2d30.364922015731644!3d50.457408279476354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc919501b4ef%3A0x71a476f68f4c8246!2z0YPQuy4g0KTQtdC-0LTQvtGA0Ysg0J_Rg9GI0LjQvdC-0LksIDEzLCDQmtC40LXQsiwg0KPQutGA0LDQuNC90LAsIDAyMDAw!5e0!3m2!1sru!2sru!4v1596797662593!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    .footer__copy
        .container
            .copy__text © 2017 Template by Anastasia Shaposhnyk. Все права защищены.

